[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    except subprocess.CalledProcessError as excn:
    raise NotImplementedError

    # Don't complain if tests take a path which is only used in a test harness:
    .*we_are_translated.*
    def init_state

    # Don't complain about assertions in syscalls -- special code fore debuggers
    inst.t5 == 4
    inst.t5 == 5

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Don't complain about code that executes if pypy is not on the PYTHONPATH.
    except ImportError:
